.file-upload-container {
  display: flex;
}


.file-drop-area {

  margin-right: 20px;
  border: 1px dashed #800080;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  &:hover {
    background:#F0F8FF;
  }
}

.file-preview {
  text-align: center;
}

.file-msg {
  margin-top: 8px;
  width: 100%;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
