.file-drop-area {
  border: 1px dashed #800080;
  border-radius: 3px;
  position: relative;
  max-width: 100%;
  padding: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
  &:hover {
    background:#F0F8FF;
  }
}
