.file-upload-container {
  display: flex;
}


.file-drop-area {
  flex: 1;
  margin-right: 20px;
  border: 1px dashed #800080;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  &:hover {
    background:#F0F8FF;
  }
}

.file-preview {
  flex: 1;
  max-width: 100%;
  text-align: center;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100% - 130px);
  vertical-align: middle;
}

