.container {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-btn-area {
  position: relative;
  max-width: 100%;
  padding: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
}



