.container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-file-container {
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}

.upload-btn-container{
  padding: 20px;
  text-align: center;
}



